<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buildmyapp.android">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".thankYou"></activity>
        <activity
            android:name=".DevDetailsActivity"
            android:label="@string/title_activity_dev_details" />
        <activity
            android:name=".ProjectDetailsActivity"
            android:label="@string/title_activity_project_details" />
        <activity
            android:name="com.auth0.lock.LockActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Lock.Theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dev-juy4gqyj.auth0.com"
                    android:scheme="erkaaaar4rreqx4gcmsefhl42s2fulsu" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.auth0.lock.client-id"
            android:value="@string/com_auth0_client_id" />
        <meta-data
            android:name="com.auth0.lock.domain-url"
            android:value="@string/com_auth0_domain" /> <!-- Auth0 Lock End -->
        <activity android:name=".TestConnection" />
        <activity android:name=".innerActivity.MessageSeller" />
        <activity android:name=".SignUp.Auth0_Login" />
        <activity android:name=".SignUp.CreateAccount" />
        <activity android:name=".BottomNavFragments.BottomNavigation" />
        <activity android:name=".innerActivity.submitPlan" />
        <activity android:name=".SignUp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>