<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buildmyapp.android">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".testingLogin"></activity>
        <activity android:name=".Plan" />
        <activity android:name=".AboutMobile" />
        <activity android:name=".aboutDev" />
        <activity android:name=".TestConnection" />
        <activity android:name=".MessageSeller" />
        <activity android:name=".bio" />
        <activity android:name=".SignUp.AddPhoto" />
        <activity android:name=".SignUp.login" />
        <activity android:name=".SignUp.CreateAccount" />
        <activity android:name=".BottomNavFragments.BottomNavigation" />
        <activity android:name=".SignUp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>